/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/*
/nbproject/*
/node_modules/*
web/base_theme/css/*
web/bower_components/
web/css/
web/cache/*
web/images/*
web/js/*
web/media/*
web/uploads/*
.sass-cache/*
.idea
*.~
*.~*
*node_modules*
*bower_components*
*.map*
*.rsync_cache*
